<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h4 class="reveal">Let's Talk</h4>
        <p>I like to help people with the knowledge that I have acquired over the years working in the industry. Whether it is a UX audit, hiring a candidate, coming up with MVP or you need a piece of friendly advice. 
        <br><br>Don't hesitate to get in touch.</p>
        <ul class="list-inline reveal">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/niranjan-jun3/" target="_blank">Linkedin</a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/nira_njan" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-5">
        
      </div>
    </div>
  </div>
</section>

<section class="no-padding bg_gray less-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="mb-0"><small>Copyright &copy; {{ site.time | date: '%Y' }} Niranjan Gupta</small></p>
      </div>
      <div class="col-12 col-lg-6">
        
      </div>
    </div>
  </div>
</section>