<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{% seo %}
{% if page.thumb_image %}
  {% if page.thumb_image contains '://' %}
    <meta property="og:image" content="{{ page.thumb_image }}">
    <meta name="twitter:image" content="{{ page.thumb_image }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
    <meta name="twitter:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
  {% endif %}
{% else %}
  <meta property="og:image" content="{{ site.url }}{% asset profile.jpg @path %}">
  <meta name="twitter:image" content="{{ site.url }}{% asset profile.jpg @path %}">
{% endif %}

<link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />
{% if site.local_fonts %}
  {% asset fonts.css %}
{% endif %}

<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- scroll reveal js -->
<script src="https://unpkg.com/scrollreveal"></script>
<!-- material Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


{% if site.blog_theme == "light" %}
  <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
  <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
{% asset new-app.css %}
{% else %}
  <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
  <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
{% asset dark.css %}
{% endif %}
</head>
