<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>
{% seo %}
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- typeface -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
<!-- material Icons -->
{% if site.blog_theme == "light" %}
  <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
  <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
  {% asset new-app.css %}
  {% else %}
  <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
  <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
  {% asset dark.css %}
{% endif %}
</head>