{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

{% asset vendor.js %}

{% unless site.local_fonts %}
  {% asset webfonts.js %}
{% endunless %}

{% if site.scrollappear_enabled %}
  {% asset scrollappear.js %}
{% endif %}
{% asset application.js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
<script>
  $(document).ready(function(){
    ScrollReveal().reveal('.reveal', {
      distance: '120%',
      origin: 'bottom',
      duration: 1000,
      delay: 200,
      interval: 300
    });
    $('.carousel').carousel({
      touch: true
    })
  });

  $(window).on( "load", function(){
    
  });
</script>
