{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

{% asset vendor.js %}

{% unless site.local_fonts %}
  {% asset webfonts.js %}
{% endunless %}

{% if site.scrollappear_enabled %}
  {% asset scrollappear.js %}
{% endif %}

{% asset application.js %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
<script>
	ScrollReveal().reveal('.project-card',{
    distance: '100%',
    origin: 'bottom',
    opacity: 0,
    delay: 300, 
    reset: true
});
</script>
