{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PLLMNH2');</script>
<!-- End Google Tag Manager -->

{% asset vendor.js %}

{% unless site.local_fonts %}
  {% asset webfonts.js %}
{% endunless %}

{% if site.scrollappear_enabled %}
  {% asset scrollappear.js %}
{% endif %}
{% asset application.js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
<script>
  $(document).ready(function(){
    ScrollReveal().reveal('.reveal', {
      distance: '120%',
      origin: 'bottom',
      duration: 1000,
      delay: 200,
      interval: 300
    });
    $('.carousel').carousel({
      touch: true
    })
  });

  $(window).on( "load", function(){
    
  });
</script>
