<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          About
        </a>
      </li>
    {% endif %}
    {% if site.resume_enabled == true %}
      <li>
        <a href="{% asset 'resume_niranjan_gupta.pdf' @path %}" title="Resume" target="_blank">
          Résumé
        </a>
      </li>
    {% endif %}
    {% if site.contact_enabled == true %}
      <li>
        <a href="mailto:niranjangupta.jun3@gmail.com" title="Contact">
          Contact
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
