<div class="container">
  <div class="row">
    <div class="col-8">
      <ul class="nav home">
        <li class="nav-item"><a class="nav-link" href="/">Niranjan Gupta</a></li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="nav other">
        <li class="nav-item"><a class="nav-link" href="/work">Work</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <!-- <li class="nav-item"><a class="nav-link active" href="https://dribbble.com/niran_jan" target="_blank">Dribbble</a></li>
        <li class="nav-item"><a class="nav-link" href="https://docs.google.com/document/d/1Tdes1nEi_3ktiIYXuW13wT9Pqc2YzIExaYhAD6LU_e4/edit?usp=sharing">Resumé</a></li>
        <li class="nav-item"><a class="nav-link btn-outline" href="mailto:niranjangupta.jun3@gmail.com">Email me</a></li> -->
      </ul>
    </div>
  </div>
</div>