<section class="{{include.elements.class}}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <!-- carousel start -->
        <div id="{{include.elements.id}}" class="carousel slide" data-ride="carousel">
          
          {% if include.elements.indicator %}
          <!-- indicators -->
          <ol class="carousel-indicators">
          {% for item in include.elements.carousel %}
            {% if forloop.first %}
            <li data-target="#{{include.elements.id}}" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#{{include.elements.id}}" data-slide-to="0" ></li>
            {% endif %}
          {% endfor %}
          </ol>
          {% endif %}

          <!-- carousel item -->
          <div class="carousel-inner">
            {% for item in include.elements.carousel %}  
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img src="{% asset '{{item.image-url}}' @path %}" class="d-block w-100" alt="{{ item.image-alt }} | Designed by Niranjan gupta">
              <div class="carousel-caption d-none d-md-block">
                {% if item.caption-heading %}<h5>{{ item.caption-heading }}</h5> {% endif %}
                {% if item.caption-desc %}<p>{{ item.caption-desc }}</p> {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>

          {% if include.elements.controls %}
          <!-- controls -->
            <a class="carousel-control-prev" href="#{{include.elements.id}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#{{include.elements.id}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          {% endif %}
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</section>