<section class="{{include.elements.class}}">
<div class="container">
  <div class="row">
    {% for attr in include.elements.columns %}
      <div class="{{attr.column}}">
          {% if attr.heading %} <h2>{{attr.heading}}</h2> {% endif %}
          {% if attr.subheading %}<h4>{{attr.subheading}}</h4> {% endif %}
          {% if attr.description %} <p>{{attr.description}}</p> {% endif %}
          {% if attr.image %} <img src="{% asset '{{attr.image}}' @path %}" alt="{{attr.alt}}"> {% endif %}
          {% if attr.website %} <a href="{{attr.website}}" class="link">Visit website</a> {% endif %}
      </div>
    {% endfor %}
  </div>

  <!-- nested columns -->
  {% if include.elements.nest %}
  <div class="row">
    {% for parent-col in include.elements.nest.parent %}
    <div class="{{parent-col.column}}">
      <div class="row">
       {% for child in parent-col.child %}
          <div class="{{child.column}}">
            {% if child.heading %} <h2>{{child.heading}}</h2> {% endif %}
            {% if child.subheading %}<h4>{{child.subheading}}</h4> {% endif %}
            {% if child.description %} <p>{{child.description}}</p> {% endif %}
            {% if child.image %} <img src="{% asset '{{child.image}}' @path %}" alt="{{child.alt}}"> {% endif %}
          </div>
       {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <!-- nested column end -->

</div>
</section>