// =============================================================================
// Light theme
// =============================================================================

// Variables
// =============================================================================

// colors
$white: #fff;
$charcoal: #252323;
$light-charcoal: #454545;
$gray: #6E6E6E;
$light-gray: #A0A0A0;
$ash : #CDCDCD;
$light-ash: #E3E3E3;
$border-color: #ECECEC;
$gray-background: #f5f5f5;

//brand color
$primary-color: #3A58F6;
$primary-light: #657BED;
$secondary-color: #F43309;
$secondary-light: #F26344;

// Font colors

$base-font-color: $gray;
$base-accent-color: $primary-color;
$base-accent-highlighted-color: darken($primary-color, 15);

// Border color

$base-border-color: $gray-lightest;

// Page specific colors

$body-background: $white;
$header-logo-color: $black;
$header-link-color: $gray-darker;
$header-link-color-hover: $gray-darkest;
$article-header-title-color: $gray-darkest;
$article-header-description-color: $gray-dark;
$article-post-titles-color: $gray-darkest;
$article-footer-color: $gray-light;
$article-footer-link-color: $gray-dark;
$article-footer-link-color-hover: $gray-darkest;
$article-paginator-color-hover: $gray-darkest;

// Imports
// =============================================================================

// Vendors

@import "vendor/normalize";

// Settings
@import "variables";
@import "mixins";
@import "base";

// Layouts
@import "layouts/grid";


.grid.project{
  padding:48px 0;
}

section{
  padding:90px 0
}

.no-padding img {
	margin-bottom: 0px;
}

.no-padding {
	padding: 0px;
}

.with-less-margin
{
	padding: 0;	
	img{
		margin:0 0 30px;
	}
}

.profile-image{
	padding: 0 60px;
}