// Colors
// =============================================================================

// Brand colors

$primary-color: #3a58f6;
$primary-light: #657BED;
$secondary-color: #F43309;
$secondary-light: #F26344;

// statuses

$brand-success: #1fbf92;
$brand-danger: #e74b3c;
$brand-primary: #3a58f6;
$brand-warning: #f1c90b;

// background, type etc

$white: #fff;
$charcoal: #252323;
$light-charcoal: #454545;
$gray: #6E6E6E;
$light-gray: #A0A0A0;
$ash : #CDCDCD;
$light-ash: #E3E3E3;
$border-color: #ECECEC;
$gray-background: #f5f5f5;

$base-accent-highlighted-color: darken($primary-color, 16);
