*,
*::before,
*::after {
  box-sizing: border-box;
}
$base-transition-speed: .2s;

// Imports
// =============================================================================

@import "vendor/normalize";
@import "mixins";
@import "colors";
@import "typography";
@import "spacing";



// Other
// =============================================================================
svg {
  transition: fill 0.2s linear;
}

ul,
ol {
  padding-left: 17px;
  margin: 0;
  li{
    margin-bottom:8px;
  }
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $border-color;
}

blockquote {
  padding: 0 0 4px 15px;
  margin: 0 0 0 -20px;
  font-family: $body-font;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
  color: $ash;
  border-left: 3px solid $border-color;
}

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 16px;
}

img.emoji{
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 0;
  vertical-align: middle;  
}

.notfound-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.button-default {
  background-color: $brand-primary;
  padding: 8px 12px;
  color: $white;
  margin: 60px 0 0;
  display: inline-block;
  &:hover,
  &:active,
  &:focus {
    background-color: $base-accent-highlighted-color;
    color: $white;
  }
}

.button-primary {
  background-color: $brand-primary;
  color: $white;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  margin: 80px 0;
  &:hover,
  &:active,
  &:focus {
    background-color: $base-accent-highlighted-color;
    color: $white;
  }
}

.button-on-dark {
  border: 1px solid $white;
  border-radius: 32px;
  padding: 12px 24px;
  font-weight: 400;
  background: linear-gradient(90deg, $charcoal 50%, $white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
  color: $white; /*For IE*/

  &:after {
    border-radius: 32px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, $white 50%, transparent 50%);
    z-index: -1;
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
  }

  &:hover,
  &:hover::after {
    background-position: 0;
    color: $white;
  } 
}

.button-on-white, .btn-outline {
  border: 1px solid $charcoal;
  border-radius: 32px;
  padding: 12px 24px;
  font-weight: 400;
  background: linear-gradient(90deg, $white 50%, $charcoal 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
  color: $charcoal; /*For IE*/

  &:after {
    border-radius: 32px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, $charcoal 50%, transparent 50%);
    z-index: -1;
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
  }

  &:hover,
  &:hover::after {
    background-position: 0;
    color: $white;
  } 
}

/* type colors */
.muted-text{  color: $gray; }

::-webkit-scrollbar { 
    display: none; 
}

.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
  a{
    color: $white;
  }
}
.header-white{
  a{
    color: $charcoal;
  }
}
.intro {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: $charcoal;
  .row{
    padding: 33vh 0;
  }
  h1{
    margin-bottom: 56px;
    color: $white;
  }
  .button-primary{
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    border-radius: 32px;
    padding: 12px 24px;
    font-weight: 400;
  }
}

.intro hr {
  margin:24px 0;
}

.case-study-heading{
  padding: 25vh 0 0;
}
.about,{
  padding: 25vh 0 160px;
  h2{
    margin-bottom: 48px;
  }
  img{
    border-radius: 200px;
  }
  hr{
    margin: 80px 0;
  }
  a{
    color: $brand-primary;
    font-weight: 600;
  }
  .info-item{
    margin-bottom: 80px;
  }
}
.projects {
  h2 {
    margin: 0 0 80px;
  }
  .project-card { 
    margin-bottom: 160px;
    a{
      display: inline-block;
    }
  }
  .project-thumbnail{
    margin-bottom: 40px;
  }
}
.only-projects{
  padding: 25vh 0 0;
}

.footer {
  padding: 160px 0 80px;
  background-color:$charcoal;
  h2, p, a{
    text-align: center;
    color: $white;
    text-decoration: none;
  }
  a{
    opacity: 0.8;
    margin: 0 12px;
    font-weight: 400;
  }
  .footnote{
    margin: 0 80px 0;
    small{
      font-size: 70%;
      opacity: 0.5;
    }
  }
  span{
    display: block;
    width: 56px;
    height: 2px;
    margin: 80px auto;
    background-color: $white;
    opacity: 0.1;
    border-radius: 4px;
  }
}

.elsewhere {
  padding: 16px 0;
  display: block;
}

section { 
  padding:80px 0
}

.case-study {
  padding-bottom:0px;

  a{
    color: $brand-primary;
    font-weight: 600;
  }
}

.no-padding img {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.less-padding {
 padding: 30px 0; 
}

.with-less-margin {
  padding: 0; 
  img{
    margin:0 0 1px;
  }
}

.bg_gray {
  background-color:$gray-background;
}

.bg_dark_gray {
  backgorund-color: $light-ash;
}


.bg_black {
  background-color:$charcoal;

  h2, h3, h4 {
    color: #FB7F0E;
  }
  p, ol, ul {
    color: rgba(255,255,255,0.7);
  }
  .info-item {
    margin-bottom: 80px;
  }
}

.bg_purple{
  background-color:#7672C4;

  h2, h3, h4 {
    color: $white;
  }
  p, ol, ul {
    color: rgba(255,255,255,0.7);
  }
}



.detailed-screens h2, .detailed-screens .screen{
      margin-bottom: 64px;
}

h1 .letter {
  display: inline-block;
}

html.sr .reveal {
    visibility: hidden;
}

.full-width, .img-fluid{
  width: 100%;
}

.nav.home {
    justify-content: flex-start;
    a {
      padding: 0.5rem 0;
    }
}
.nav.other {
  justify-content: flex-end;
}