// spaces
// =============================================================================

$margin-b-x: 0 0 16px;
$margin-tb-x: 16px 0;
$margin-lr-x: 0 16px;

$margin-b-m: 0 0 24px;
$margin-tb-m: 24px 0;
$margin-lr-m: 0 24px;

$margin-b-l: 0 0 32px;
$margin-tb-l: 32px 0;
$margin-lr-l: 0 32px;

$margin-b-xl: 0 0 40px;
$margin-tb-xl: 40px 0;
$margin-lr-xl: 0 40px;

$margin-b-xxl: 0 0 120px;
$margin-tb-xxl: 120px 0;
$margin-lr-xxl: 0 120px;


$padding-b-x: 0 0 16px;
$padding-tb-x: 16px 0;
$padding-lr-x: 0 16px;

$padding-b-m: 0 0 24px;
$padding-tb-m: 24px 0;
$padding-lr-m: 0 24px;

$padding-b-l: 0 0 32px;
$padding-tb-l: 32px 0;
$padding-lr-l: 0 32px;

$padding-b-xl: 0 0 40px;
$padding-tb-xl: 40px 0;
$padding-lr-xl: 0 40px;

$padding-b-xxl: 0 0 120px;
$padding-tb-xxl: 120px 0;
$padding-lr-xxl: 0 120px;