// Typography
// =============================================================================

$sans-serif: 'Oswald', sans-serif;
$serif: 'Merriweather', serif;
$base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 500;
$base-font-weight-thin: 300;

// Font sizes
$base-font-size: 8px;
$base-line-height: 1.8;


html, html::selection {
  font-size: $base-font-size * 2;
}

body {
  margin: 0 auto;
  font-family: $serif;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $charcoal;
  background: $white;
}

::-moz-selection {
  background-color: rgba(58, 88, 246, 0.16) !important;
  color: rgb(58, 88, 246) !important;
}

::selection {
  background-color: rgba(58, 88, 246, 0.16);
  color: rgb(58, 88, 246);
}

p {
  margin: 0 0 24px;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $light-charcoal;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$sans-serif;
  margin: 0 0 16px;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  color: $charcoal;
  font-weight: $base-font-weight;
  letter-spacing:0.4px;
  color: $primary-color;
  text-transform:uppercase;
}

h1 {
  font-size: $base-font-size * 5;
}

h2 {
  font-size: $base-font-size * 4;
}

h3 {
  font-size: $base-font-size * 3;
}

h4 {
  font-size: $base-font-size * 2.5;
}


@include breakpoint(small) {
  h1 {
    font-size: $base-font-size * 4;
  }
  h2 {
    font-size: $base-font-size * 3.5;
  }
  h3 {
    font-size: $base-font-size * 3;
  }
  h4 {
    font-size: $base-font-size * 2.5;
  }
  html {
    font-size: $base-font-size * 2;
  }
}

a {
  color: $brand-primary;
  text-decoration: none;
  font-weight: 700;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
    text-decoration: none;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
    text-decoration: none;
  }
}
