// Typography
// =============================================================================

$heading-font: 'Erode', serif;
$body-font: 'Recia', serif;
$base-font-family: $body-font;


// Font sizes
$base-font-size: 8px;
$base-line-height: 1.5;


html, html::selection {
  font-size: $base-font-size * 2.5;
}

body {
  margin: 0 auto;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base-line-height;
  color: $charcoal;
  background: $white;
}

::-moz-selection {
  background-color: rgba(58, 88, 246, 0.16) !important;
  color: rgb(58, 88, 246) !important;
}

::selection {
  background-color: rgba(58, 88, 246, 0.16);
  color: rgb(58, 88, 246);
}

p {
  margin: 0 0 24px;
  font-weight: 400;
  line-height: $base-line-height;
  color: $light-charcoal;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$heading-font;
  margin: 0 0 16px;
  line-height: $base-line-height;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  color: $charcoal;
  letter-spacing:0.1px;
  color: $charcoal;
  line-height: 130%;
}

h1 {
  font-size: $base-font-size * 6;
}

h2 {
  font-size: $base-font-size * 5;
}

h3 {
  font-size: $base-font-size * 4;
}

h4 {
  font-size: $base-font-size * 3;
}


@include breakpoint(small) {
  h1 {
    font-size: $base-font-size * 4;
  }
  h2 {
    font-size: $base-font-size * 3.5;
  }
  h3 {
    font-size: $base-font-size * 3;
  }
  h4 {
    font-size: $base-font-size * 2.5;
  }
  html {
    font-size: $base-font-size * 2;
  }
}

a {
  color: $charcoal;
  text-decoration: none;
  font-family: $body-font;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $charcoal;
    text-decoration: none;
  }
  &:focus {
    color: $charcoal;
    outline: none;
    text-decoration: none;
  }
}
