<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLLMNH2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- header and hero -->
    <section class="header">
      {% include navigation.html %}
    </section>

    <!-- Intro -->
    <section class="intro">
      <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="row">
                <div class="col-md-7 col-sm-12">
                  <h1 class="text-reveal-left">Hi, I am Niranjan. A Product Designer from New Delhi, India.</h1>
                  I have been working in the design industry for about 6 years now and I have made peace with the fact that Design’s main job is to simplify things, make things live longer, and help make humans live a happier life. It is something which needs a balance of both creative and analytic side of my brain. My works are heavily inspired by Dieter Ram’s and John Maeda’s principles around simplicity. I am a curious soul who wants to know who, how, what, and why behind everything around me. 
                </div>
                <div class="col-md-5 col-sm-6">
                  <img class="img-fluid" src="{% asset 'niranjan-gupta.png' @path %}" alt="niranjan gupta">
                </div>
              </div>
            </div>
          </div>
      </div>  
    </section>
    
    <!-- content -->
    <section class="projects">
      <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <h2>Selected Projects</h2>
            </div>
          </div>

          <div class="scroll">    
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="row">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <hr>
    <!-- foooter -->
    <section class="footer">
      {% include footer.html %}
    </section>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="muted-text">Designed and Developed with love by Niranjan Gupta</p>
        </div>
      </div>
    </div>
    <div class="cui-embed" data-cui-uid="fdAiVm" data-cui-avatar="https://images.typeform.com/images/aAjuNNVrx3it" data-cui-mode="pill" data-cui-pill-button-color="#4D6AE9"></div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>
  {% include javascripts.html %}
</body>
</html>
