<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <!-- header and hero -->
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <!-- <h1 class="hero-text">Hi! I am niranjan; a UX Designer. Currently working with Elucidata.</h1> -->
      </div>
    </div>
    <!-- content -->
    <div class="grid grid-centered">
      <div class="grid-cell with-10col grid-centered">
        {{ content }}
      </div>
    </div>
    <!-- foooter -->
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
