<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    <!-- header and hero -->
    <section class="header">
      {% include navigation.html %}
    </section>

    <!-- case study -->
    <section class="case-study">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="reveal">{{ page.title }}</h1>
            <p class="reveal">{{ page.description }}</p>
          </div>
        </div>
      </div>
        {% for item in page.partials %}
          {% include {{item.name}}.html elements = item %}
        {% endfor %}
    </section>
    <hr>
    <!-- foooter -->
    <section class="footer">
      {% include footer.html %}
    </section>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="muted-text">Designed and Developed with love by Niranjan Gupta</p>
        </div>
      </div>
    </div>
    <div class="cui-embed" data-cui-uid="fdAiVm" data-cui-avatar="https://images.typeform.com/images/aAjuNNVrx3it" data-cui-mode="pill" data-cui-pill-button-color="#4D6AE9"></div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>
  {% include javascripts.html %}
</body>
</html>