<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    <!-- header and hero -->
    <section class="header header-white">
      {% include navigation.html %}
    </section>
    
    <!-- case study -->
    <section class="case-study">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 case-study-heading">
            <h1 class="reveal">{{ page.title }}</h1>
            <p class="reveal">{{ page.brief }}</p>
          </div>
        </div>
      </div>
        {% for item in page.partials %}
          {% include {{item.name}}.html elements = item %}
        {% endfor %}
    </section>
    <hr>
    <section class="bg_gray">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h3>Other Projects</h3>
          </div>
          {% for post in site.posts %}
           {% if post.url != page.url %}
            <div class="col-12 col-lg-4">
              <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                <div class="project-card">
                  <img class="project-thumbnail" src="{% asset {{post.image}} @path %}" alt="{{post.image.alt}}" />
                  <h4>{{ post.title }}</h4>
                  <p>{{ post.intro }}</p>
                  <span class="tag"></span>
                  <span class="card-access-icon"></span>
                </div>
              </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </section>
    <hr>
    <!-- foooter -->
    {% include footer.html %}
    <!-- scripts -->
    {% include javascripts.html %}
</body>
</html>