<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <!-- header and hero -->
    <section class="header">
      {% include navigation.html %}
    </section>

    <!-- full article or case study  -->
    <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <!-- heading -->
      <header class="article-header">
        <div class="container">
          <div class="row">
            <div class="">
              <h1>{{ page.title }}</h1>
              <p>{{ page.description }}</p>
              <!-- <div class="article-list-footer">
                <span class="article-list-date">
                  {{ page.date | date: "%B %-d, %Y" }}
                </span>
                <span class="article-list-divider">-</span>
                <span class="article-list-minutes">
                  {% capture words %}
                    {{ page.content | number_of_words }}
                  {% endcapture %}
                  {% unless words contains "-" %}
                    {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                  {% endunless %}
                </span>
                <span class="article-list-divider">-</span>
                <div class="article-list-tags">
                  {% for tag in page.tags %}
                    <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </header>

      <!-- content -->
      <div class="article-content">
        {% for item in page.partials %}
          {% include {{item.name}}.html elements = item %}
        {% endfor %}
      </div>

      <!-- share links -->
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="article-share">
                {% assign page_title = page.title | cgi_escape | truncate: 110 %}
                {% capture twitter-share-text %}{{ page_title }} - {{ page.url | absolute_url }}{% if site.social.twitter %} by @{{ site.social.twitter }}{% endif %}{% endcapture %}
                <!-- twitter -->
                <a href="https://twitter.com/home?status={{ twitter-share-text | uri_escape }}" title="Share on Twitter" rel="noreferrer noopener" target="_blank" class="zmdi zmdi-twitter"></a>
                <!-- facebook -->
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" title="Share on Facebook" rel="noreferrer noopener" target="_blank" class="zmdi zmdi-facebook"></a>
              </div>
            </div>
          </div>
        </div>

      <!-- discuss block -->
      {% if site.discus_identifier %}
        <div class="container">
          <div class="row">
            <div class="">
              <div id="disqus_thread" class="article-comments"></div>
              <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
              <noscript>Please enable JavaScript to view the comments.</noscript>
            </div>
          </div>
        </div>
      {% endif %}
    </article>

    <!-- foooter -->
    <div class="container">
      <div class="row">
        <div class="">
          {% include footer.html %}
        </div>
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>