// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;

  p {
    font-size: 15px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}

@include breakpoint(extra-small) {
.footer {
  text-align: center;
}
.footer-links {
    display: block;
    float: none;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
